/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @fontface {
  font-family:Roboto;
  src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap")
} */

/* @fontface {
  font-family: Unbounded;
  src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Unbounded&display=swap")
} */


/* @fontface {
  font-family: Unbounded;
  src: url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500&family=Roboto:wght@300&family=Unbounded&display=swap")
} */


@fontface {
  font-family: Mali;
  src: url("https://fonts.googleapis.com/css2?family=League+Spartan:@300&family=Unboundedwght@500&family=Mali:wght@500;600&family=Roboto:wght&display=swap")
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  font-family: 'Roboto', sans-serif;
}

.App-header {
  background-color: #EEE4E1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #242121;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  font-family: 'Roboto', sans-serif;
  
  /* font-family: 'Unbounded', cursive; */

  /* font-family: 'League Spartan', sans-serif; */
  font-family: 'Mali', cursive;
  font-size: 150px;
}
.about {
  background-color: #D3AB9E;
  height: 80px;
  width: 160px;
  border-radius: 15%;
  border-width: 5px;
  border-color: #B2967D;
font-size: 25px;
font-family:'Roboto' sans-serif;
font-stretch: 12px;
font-weight: 500;

}

.about:hover {
background-color: #c3e4e4;
color: black;
text-decoration: underline;
}

img {
 margin-right: 0;
 margin-left: auto;
 
 /* display:block; */
}